$black: #34314c;
$main: #565656;
$white: #fff;
$blue: #2196f3;
// Tabmenu and Cost Area

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabMenu {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 10rem;
  &_content {
    text-align: center;
  }
  &_title {
    margin-top: 5.7rem;
    font-size: 3.4rem;
    color: $black;
    font-weight: 600;
  }
  &_progressContainer {
    align-items: center;
    justify-content: center;
    margin-top: 6.4rem;
    display: grid;
    gap: 2.8rem;
    // ProgresBar Wrapper
    .progressBar {
      display: grid;
      grid-template-columns: 1fr auto;
      place-items: center;
      position: relative;
      gap: 2.1rem;
      &_cost {
        position: absolute;
        font-weight: 600;
        font-size: 2.2rem;
        left: 0;
        margin-left: 20rem;
      }
    }
  }
}

.menuItem {
  cursor: pointer;
  padding-bottom: 1.6rem;
  border-bottom: 2px solid #2195f300;
  font-weight: 700;
  font-size: 1.8rem;
  color: $black;
}

// Breakdown Area

.breakDown {
  margin-top: 9.6rem;
  width: 100%;
  &_title {
    text-align: center;
    color: $black;
    font-weight: 600;
    font-size: 3.4rem;
  }
  &_stats {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 0fr 0fr;
    justify-content: space-between;
    width: 100%;
    max-width: 835px;
    margin-top: 6.4rem;
  }
}

.svg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &_container {
    position: absolute;
  }
  &_currency,
  &_amount {
    display: inline;
    font-size: 4rem;
    color: $blue;
    font-weight: 700;
  }
  &_subTitle {
    text-align: center;
    color: $black;
    font-weight: 400;
    font-size: 1.6rem;
  }
}

.labels {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 4rem 2rem;
  align-items: center;

  &_container {
    display: grid;
    grid-template-columns: 1fr 195px;
    gap: 0.4rem 2.4rem;
  }
  &_value {
    color: $main;
    font-weight: 600;
    font-size: 2.4rem;
  }
  &_title {
    grid-column: 2/3;
    font-weight: 400;
    color: $main;
    font-size: 1.6rem;
  }
}

// Disclaimer
.disclaimer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0fr 0fr;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 3.8rem;
  position: relative;
  cursor: pointer;
  &_icon {
  }
  &_text {
    font-weight: 400;
    font-size: 1.6rem;
  }
}

// Cta
.cta {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 4.3rem;
  margin-bottom: 4rem;
  font-size: 3.4rem;
  font-weight: 600;
  &_icon {
    margin-top: 2.7rem;
  }
  &_text {
    color: $black;
  }
}

// Toggle Classes

.Active {
  border-bottom: 2px solid $blue;
}

.Passive {
  opacity: 60%;
}

// Colors
.textWhite {
  color: $white;
}

.textDark {
  color: $main;
}
