.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bar1,
.bar2 {
  width: 344px;
}

.tabMenu {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin-top: 10rem;
  max-width: 325px;
}

.tabMenu_content {
  text-align: center;
  white-space: pre-wrap;
}

.tabMenu_title {
  margin-top: 5.7rem;
  font-size: 3.4rem;
  color: #34314c;
  font-weight: 600;
}

.tabMenu_progressContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6.4rem;
  display: -ms-grid;
  display: grid;
  gap: 2.8rem;
}

.tabMenu_progressContainer .progressBar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  place-items: center;
  position: relative;
  gap: 2.1rem;
}

.tabMenu_progressContainer .progressBar_cost {
  position: absolute;
  font-weight: 600;
  font-size: 2.2rem;
  left: 0;
  margin-left: 20rem;
}

.menuItem {
  cursor: pointer;
  padding-bottom: 1.6rem;
  border-bottom: 2px solid #2195f300;
  font-weight: 700;
  font-size: 1.8rem;
  color: #34314c;
}

.breakDown {
  margin-top: 9.6rem;
  width: 100%;
}

.breakDown_title {
  text-align: center;
  color: #34314c;
  font-weight: 600;
  font-size: 3.4rem;
}

.breakDown_stats {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: 0fr 0fr;
      grid-template-columns: 0fr 0fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 835px;
  margin-top: 6.4rem;
}

.svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.svg_container {
  position: absolute;
}

.svg_currency, .svg_amount {
  display: inline;
  font-size: 4rem;
  color: #2196f3;
  font-weight: 700;
}

.svg_subTitle {
  text-align: center;
  color: #34314c;
  font-weight: 400;
  font-size: 1.6rem;
}

.labels {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem 7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.labels_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 190px;
      grid-template-columns: 1fr 190px;
  gap: 0.4rem 2.4rem;
}

.labels_value {
  color: #565656;
  font-weight: 600;
  font-size: 2.4rem;
}

.labels_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-weight: 400;
  color: #565656;
  font-size: 1.6rem;
}

.disclaimer {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 0fr 0fr;
      grid-template-columns: 0fr 0fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.2rem;
  margin-top: 3.8rem;
  position: relative;
  cursor: pointer;
}

.disclaimer_text {
  font-weight: 400;
  font-size: 1.6rem;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  margin-top: 4.3rem;
  margin-bottom: 4rem;
  font-size: 3.4rem;
  font-weight: 600;
}

.cta_icon {
  margin-top: 2.7rem;
}

.cta_text {
  color: #34314c;
}

.Active {
  border-bottom: 2px solid #2196f3;
}

.Passive {
  opacity: 0.6 !important;
}

.textWhite {
  color: #fff;
}

.textDark {
  color: #565656;
}

@media (max-width: 60em) {
  .wrapper {
    padding: 0 2.5rem;
  }
  .tabMenu {
    margin-top: 4rem;
  }
  .tabMenu_content {
    font-size: 1.2rem;
  }
  .tabMenu_title {
    max-width: 325px;
    margin: 0 auto;
    margin-top: 4rem;
    font-size: 2rem;
    line-height: 24px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .tabMenu_progressContainer {
    width: 100%;
    margin-top: 4.2rem;
    gap: 1.6rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tabMenu_progressContainer .progressBar {
    width: 100%;
    -ms-grid-columns: 1fr 200px;
        grid-template-columns: 1fr 200px;
  }
  .tabMenu_progressContainer .progressBar_cost {
    font-size: 1.8rem;
    margin-left: 15rem;
  }
  .tabMenu_progressContainer .progressBar .bar1 {
    width: 100%;
  }
  .tabMenu_progressContainer .progressBar .bar2 {
    width: 100%;
    height: 100%;
  }
  .breakDown {
    width: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 6.4rem;
  }
  .breakDown_title {
    font-size: 2rem;
  }
  .breakDown_stats {
    width: unset;
    gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .breakDown_stats img {
    max-width: 136px;
  }
  .breakDown .svg {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .breakDown .svg_amount, .breakDown .svg_currency {
    font-size: 2.4rem;
  }
  .breakDown .svg_subTitle {
    font-size: 1.2rem;
  }
  .labels {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1.8rem;
  }
  .labels_value {
    font-size: 1.6rem;
  }
  .labels_title {
    font-size: 1.2rem;
  }
  .labels_dot {
    width: 16px !important;
    height: 16px !important;
  }
  .labels_container {
    -ms-grid-columns: 0fr 1fr;
        grid-template-columns: 0fr 1fr;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.4rem 0.8rem;
  }
  .disclaimer {
    margin-top: -13.8rem;
  }
  .disclaimer_text {
    font-size: 1.4rem;
  }
  .cta {
    text-align: center;
    font-size: 2rem;
  }
  .cta_icon {
    margin-top: 0.8rem;
  }
}
/*# sourceMappingURL=Stats.module.css.map */