$black: #34314c;

.tabMenu {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 10rem;
  &_content {
    text-align: center;
  }
  &_title {
    margin-top: 5.7rem;
    font-size: 3.4rem;
    color: $black;
    font-weight: 600;
  }
}

.menuItem {
  cursor: pointer;
  padding-bottom: 1.6rem;
  border-bottom: 2px solid #2195f300;
  font-weight: 700;
  font-size: 1.8rem;
  color: $black;
}

.Active {
  border-bottom: 2px solid #2196f3;
}

.Passive {
  opacity: 60%;
}
